<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fbAPP-ID</string>
			</array>
		</dict>
	</array>
	<key>FacebookClientToken</key>
	<string>a95ff284aad9a6ab14588fa25961fbbf</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>Vida Dating</key>
	<string>APP-NAME</string>
	<key>kenniongubler.Gild-Dating</key>
	<string>kenniongubler.Gild-Dating</string>
</dict>
</plist>
